.account-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.main-post-logo {
    border-radius: 10px;
    width: 100%;
}

.main-title-no-wrap {
    display: inline;
    float: left;
}

.input-group-text.override-bs-search {
    border-radius: 50px;
    /* background-color: white; */
    background-color: #f8fbfa; 
    border-right: 0;
}

.form-control.override-bs-search {
    border-radius: 50px;
    /* background-color: white; */
    background-color: #f8fbfa; 
    border-left: 0;
}

.nav-link.active.override-bs {
    color: black;
    border-bottom: 4px solid #60aaf6;
}

.nav-link.override-bs {
    color: lightgray;
}

.main-page-image {
    width: 100%;
}

.main-post-logo {
    border-radius: 10px;
    width: 100%;
}