
/* navigation */
.btn-round-corner-override {
    width: 100%;
    border-radius: 25px;
}

.list-group-item.override-bs {
    border: none;
    /* background-color: lightblue;  */
}

/* main */

.input-group-text.override-bs-search {
    border-radius: 50px;
    /* background-color: white; */
    background-color: #f8fbfa; 
    border-right: 0;
}

.form-control.override-bs-search {
    border-radius: 50px;
    /* background-color: white; */
    background-color: #f8fbfa; 
    border-left: 0;
}

.nav-link.active.override-bs {
    color: black;
    border-bottom: 4px solid #60aaf6;
}

.nav-link.override-bs {
    color: lightgray;
}

.main-page-image {
    width: 100%;
}

.main-post-logo {
    border-radius: 10px;
    width: 100%;
}

.main-title-no-wrap {
    display: inline;
    float: left;
}

.text-bold {
    font-weight: bold;
}

/* follow */
.account-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#follow-button {
    width: 20%;
}

.list-group.override-bs-follow {
    border-radius: 20px;
}

.list-group-item.override-bs-follow {
    border: none;
    background-color: #f8fbfa; 
    /* background-color: lightgray; */
}